*~
cuts
hist
NPS-old
Output
plots
ROOTfiles
NewFits
get_coda_photos/
nps_hms_newfit_all.dat
nps_hms_ang6_667fit_all.dat
nps_hms_newfit_5pt6GeV_all.dat
fit_opt_matrix_test.C
cuts_may7_copy/

*.pdf
*.png
*.pcm
*_rdict.pcm
*_ACLiC_dict_rdict.pcm
*_C.so
*_C.d
*_C_ACLiC*
*.rootmap
*.tar.gz
*.root
*.swp
